@use "./base/reset";
@use "./mixin/mediaqueries.scss" as mq;

// Primary
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

// Neutral
$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);

$font-fam: "Poppins", "Roboto", "Arial", sans-serif;
$weight-s: 200;
$weight-m: 400;
$weight-l: 600;

@mixin setBorderColor($color) {
  border-top: 0.3rem solid $color;
}

html {
  font-size: 15px;
  font-family: $font-fam;
}

body {
  min-height: 100vh;
  color: $Grayish-Blue;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $Very-Light-Gray;
  padding: 1.5rem;
}

.about {
  margin-bottom: 4rem;
  text-align: center;
  span {
    color: $Very-Dark-Blue;
    font-weight: $weight-s;
    font-size: 2.5rem;
  }
  .caption {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: $weight-l;
    color: $Very-Dark-Blue;
    span {
      display: block;
    }
  }
  .intro {
    padding: 0 1.5rem;
    font-weight: $weight-s;
  }

  @include mq.respond(desktop) {
    .intro {
      width: 33rem;
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1rem;
  gap: 1.5rem;
  //   margin-bottom: 4rem;

  .card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px hsl(229, 6%, 66%, 0.5);
    min-height: 16rem;
    padding: 1.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
  }
  .card-heading {
    font-size: 1.2rem;
    color: $Very-Dark-Blue;
  }
  .supervisor {
    @include setBorderColor($Cyan);
  }
  .team {
    @include setBorderColor($Red);
  }
  .karma {
    @include setBorderColor($Orange);
  }
  .calc {
    @include setBorderColor($Blue);
  }
  .card-detail {
    margin-bottom: 2rem;
  }
  img {
    align-self: end;
    max-width: 4.2rem;
    max-height: 4.2rem;
    bottom: 0;
  }
}

@include mq.respond(tablet) {
  main {
    height: 100vh;
  }
  .cards {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "supervisor team"
      "karma calc";
    // place-content: center;
    .supervisor {
      grid-area: supervisor;
    }
    .team {
      grid-area: team;
    }
    .karma {
      grid-area: karma;
    }
    .calc {
      grid-area: calc;
    }
    .card {
      max-width: 22rem;
      .card-heading,
      .card-detail {
        flex-grow: 1;
      }
    }
  }
}

@include mq.respond(desktop) {
  .cards {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-template-areas:
      ". team ."
      "supervisor team calc"
      "supervisor karma calc"
      ". karma .";
  }
}
